.bicicletas-bg:nth-child(odd) {
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../../img/dec/top-right.svg') no-repeat top 60px right 20px;
}

.bicicletas-imagem {
    /* position: relative; */
    display: grid;
}

.bicicletas-imagem img {
    grid-area: 1/1;
}

.bicicletas-imagem span {
    background-color: var(--cor-12);
    display: inline-block;
    padding:  8px 16px 8px 8px;
    border-radius: 4px 0 0 4px;
    /* position: absolute;
    right: 0;
    top: 20px; */
    grid-area: 1/1;
    align-self: start;
    justify-self: end;
    margin-top: 20px;
}

.bicicletas-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: space-around;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
    grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
    margin-bottom: 20px;

}

.bicicletas-conteudo h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
}

.bicicletas-conteudo p {
    margin-bottom: 32px;
    max-width: 46ch;
}

.bicicletas-conteudo ul {
    display: grid;
    gap: 8px;
}

.bicicletas-conteudo li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bicicletas-conteudo img {
    width: 24px;
}

.bicicletas-conteudo a {
    place-self: end;
}

@media (max-width:800px) {
    .bicicletas-bg:nth-child(odd) {
        background: var(--cor-11);
    }
    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width:600px) {
    .bicicletas-conteudo {
        grid-template-columns: 1fr;
    }
    .bicicletas-conteudo a {
        place-self: start;
    }
    .bicicletas-conteudo ul {
        margin-bottom: 32px;
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
    }
}